@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: var(--font-dm-sans), sans-serif;
}

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-syne:    'Syne', sans-serif;
}
